<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="org.xbdframework.context.trace.**" use-default-filters="false">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
    </context:component-scan>

    <bean id="defaultTraceAttribute" class="org.xbdframework.context.trace.interceptor.DefaultTraceAttribute">
        <property name="handlers" value="org.xbdframework.context.trace.handler.DefaultTraceHandler"></property>
    </bean>

    <bean id="nameMatchTraceAttributeSource" class="org.xbdframework.context.trace.interceptor.NameMatchTraceAttributeSource">
        <property name="nameMap">
            <map>
                <entry key="*" value-ref="defaultTraceAttribute"></entry>
            </map>
        </property>
    </bean>

    <!--  TraceInterceptor  -->
    <bean id="traceInterceptor" class="org.xbdframework.context.trace.interceptor.TraceInterceptor">
        <property name="traceAttributeSource" ref="nameMatchTraceAttributeSource"></property>
    </bean>

    <bean id="userService" class="org.xbdframework.context.trace.service.impl.UserServiceImpl"></bean>

    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* org.xbdframework.context.trace.service.impl..*ServiceImpl.*(..))"/>
        <aop:advisor advice-ref="traceInterceptor" pointcut-ref="pointcut"></aop:advisor>
    </aop:config>
</beans>